.weatherItem{
  width: 300px;
  border: 1px solid #000000;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100vw;
  padding: 10px;
  display: flex;

}
